include LICENSE
include README.rst
include MANIFEST.in
include requirements*.txt
include conftest.py
recursive-include e13tools data/*

exclude docs .github
recursive-exclude docs *
recursive-exclude .github
exclude *.yml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
